{% extends "django_tabler_ng/base.html" %}
{% load static %}
{% block content %}
  <div class="page">
    <!-- Navbar -->
    <header class="navbar navbar-expand-md navbar-light d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href=".">
            <img src="{% static "img/logo.svg" %}"
                 width="110"
                 height="32"
                 alt="Tabler"
                 class="navbar-brand-image"/>
          </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item d-none d-md-flex me-3">
            <div class="btn-list"></div>
          </div>
          <div class="nav-item dropdown">
            <a href="#"
               class="nav-link d-flex lh-1 text-reset p-0"
               data-bs-toggle="dropdown"
               aria-label="Open user menu">
              <span class="avatar avatar-sm"
                    style="background-image: url(https://avatars.dicebear.com/api/initials/:{{ request.user.username }}.svg)"></span>
              <div class="d-none d-xl-block ps-2">
                <div>{{ request.user.username }}</div>
                <div class="mt-1 small text-muted">{{ request.user.first_name }} {{ request.user.last_name }}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a href="{% url "django_tabler_ng:password_change" %}"
                 class="dropdown-item">Change Password</a>
              <div class="dropdown-divider"></div>
              <a href="{% url "django_tabler_ng:sign_out" %}" class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-wrapper">
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl d-flex flex-column justify-content-center">
          {% block page-body %}
          {% endblock %}
        </div>
      </div>
      <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                  <a href="./license.html" class="link-secondary">License</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                  Copyright &copy; 2022
                  <a href="." class="link-secondary">Tabler</a>.
                  All rights reserved.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}
