{% extends "django_tabler_ng/blank.html" %}
{% load i18n %}

{% block page-body %}

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{% trans "Change password" %}</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}

                <div class="form-group mb-3 row">
                    <label class="col-3 col-form-label required">{{ form.old_password.label_tag }}</label>
                    <div class="col">
                        <input type="password" id="old_password" name="old_password"
                            class="form-control {% if form.old_password.errors %}is-invalid{%endif%}"
                            placeholder="Password">
                        <div class="invalid-feedback">{{ form.old_password.errors }}</div>
                        <small></small>
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    <label class="col-3 col-form-label required">{{ form.new_password1.label_tag }}</label>
                    <div class="col">
                        <input type="password" id="new_password1" name="new_password1"
                            class="form-control {% if form.new_password1.errors %}is-invalid{%endif%}"
                            placeholder="Password">
                        <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                        {% if form.new_password1.help_text %}
                        <small class="form-hint">{{form.new_password1.help_text|safe }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    <label class="col-3 col-form-label required">{{ form.new_password2.label_tag }}</label>
                    <div class="col">
                        <input type="password" id="new_password2" name="new_password2"
                            class="form-control {% if form.new_password2.errors %}is-invalid{%endif%}"
                            placeholder="Password">
                        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                        {% if form.new_password2.help_text %}
                        <small class="form-hint">{{form.new_password2.help_text|safe }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}